digraph {

    fontname="Arial bold" fontsize=18
    label="$diagrammtitel\n\n"
    labelloc=t

    graph [ranksep=1 nodesep=1];
    node [fillcolor=yellow shape=rect style=filled fontname="Arial bold" fontsize=14]
    edge [fontname=Arial fontsize=12]

#foreach( $typ in $konfigurationsbereich.getTypen() )
#if( $typ.isDynamisch() )
    $typ.getName() [fillcolor=green]
#end
#end

#foreach( $typ in $konfigurationsbereich.getTypen() )
#foreach( $superTyp in $typ.getSuperTypen() )
#if( $konfigurationsbereich.getTypen().contains($superTyp) )
    $superTyp.getName() -> $typ.getName() [dir=back arrowtail=onormal]
#end
#end
#foreach( $mengenVerwendung in $typ.getMengen() )
#foreach( $objektTyp in $mengenVerwendung.getObjektTypen() )
    $typ.getName() -> $objektTyp.getName() [label=$mengenVerwendung.getMengenName() arrowhead=vee color=red fontcolor=red]
#end
#end
#end

}
