digraph {

    graph [ranksep=1 nodesep=1];
    node [fillcolor=yellow shape=rect style=filled ranksep=2 fontname="Arial bold" fontsize=14]
    edge [arrowhead=vee fontname=Arial fontsize=12]

#foreach( $typ in $konfigurationsbereich.getTypen() )
#foreach( $superTyp in $typ.getSuperTypen() )
    $typ.getName() -> $superTyp.getName() [arrowhead=onormal]
#end
#foreach( $mengenVerwendung in $typ.getMengen() )
#foreach( $objektTyp in $mengenVerwendung.getMengenTyp().getObjektTypen() )
    $typ.getName() -> $objektTyp.getName() [label=$mengenVerwendung.getMengenName() color=red fontcolor=red]
#end
#end
#end

}
