#foreach( $attribut in $attributmenge.attribute )
<tr>
    <td class="#if ($row % 2 == 0) rowColor #else altColor #end" style="white-space: nowrap">
        #if( $level > 1)
            #foreach($i in [2..$level])
                &nbsp;&nbsp;&nbsp;
            #end
        #end
        #if( $attribut.attributtyp.class.simpleName == "AttributListenDefinition" )
            &loz;
        #else
            &bull;
        #end
        ${attribut.name}
    </td>
    <td class="#if ($row % 2 == 0) rowColor #else altColor #end">
        <a href="${attribut.attributtyp.konfigurationsbereich.zustaendiger.pid}/${attribut.attributtyp.konfigurationsbereich.pid}/${attribut.attributtyp.pid}.html">
        #if( $attribut.attributtyp.class.simpleName == "AttributListenDefinition" )
            Attributliste
        #elseif( $attribut.attributtyp.class.simpleName == "GanzzahlAttributTyp" )
            Ganzzahl
        #elseif( $attribut.attributtyp.class.simpleName == "KommazahlAttributTyp" )
            Kommazahl
        #elseif( $attribut.attributtyp.class.simpleName == "ZeichenkettenAttributTyp" )
            Zeichenkette
        #elseif( $attribut.attributtyp.class.simpleName == "ZeitstempelAttributTyp" )
            Zeitstempel
        #elseif( $attribut.attributtyp.class.simpleName == "ObjektReferenzAttributTyp" )
            Objektreferenz
        #end
        </a>
    </td>
    <td class="#if ($row % 2 == 0) rowColor #else altColor #end">
        ${attribut.anzahl}
    </td>
    <td class="#if ($row % 2 == 0) rowColor #else altColor #end">
        #if( ${attribut.anzahlVariabel} )
            variabel
        #else
            fest
        #end
    </td>
    <td class="#if ($row % 2 == 0) rowColor #else altColor #end block">
        #if( $attribut.kurzinfo && !$attribut.kurzinfo.empty )
            ${attribut.kurzinfo}
        #else
            <span class="inherited">${attribut.attributtyp.kurzinfo}</span>
        #end
    </td>
</tr>
    #set( $row = $row + 1 )
    #if( $attribut.attributtyp.class.simpleName == "AttributListenDefinition" )
        #set( $attributmenge = $attribut.attributtyp )
        #set( $level = $level + 1 )
        #parse( "/generator/html/attributmenge.vm" )
        #set( $level = $level - 1 )
    #end
#end
