<!DOCTYPE html>
<html lang="de">
<head>
    <title>Menge ${attributliste.nameOderPid}</title>
    <base href="../../">
    <meta charset="UTF-8">
    <meta name="date" content="2015-12-05"/>
    <meta name="keywords" content="Typen, Mengen, Attributgruppen, Attributlisten, Attribute, Datenkatalog, NERZ, ERZ, VRZ, UZ, Verkehrsrechnerzentrale, Unterzentrale">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style"/>
</head>
<body>
<script type="text/javascript">
    <!--
    try {
        if (location.href.indexOf('is-external=true') == -1) {
            parent.document.title = "${attributliste.nameOderPid} (${projekt})";
        }
    }
    catch (err) {
    }
    //-->
</script>
<div class="header">
    <ul>
        <li><a href="ueberblick.html">Überblick</a></li>
        <li><a href="${attributliste.bereich.zustaendiger.pid}/konfigurationsverantwortlicher-ueberblick.html">Konfigurationsverantwortlicher</a></li>
        <li><a href="${attributliste.bereich.zustaendiger.pid}/${attributliste.bereich.pid}/konfigurationsbereich-ueberblick.html">Konfigurationsbereich</a></li>
        <li class="active">Objekt</li>
    </ul>
</div>
<div class="subheader">
    <ul>
        <li><a href="index.html?${attributliste.bereich.zustaendiger.pid}/${attributliste.bereich.pid}/${attributliste.pid}.html" target="_top">Mit Frames</a></li>
        <li><a href="${attributliste.bereich.zustaendiger.pid}/${attributliste.bereich.pid}/${attributliste.pid}.html" target="_top">Ohne Frames</a></li>
    </ul>
</div>
<div class="content">
    <p>${attributliste.bereich.zustaendiger.nameOderPid} / ${attributliste.bereich.nameOderPid}</p>
    <h1>Attributgruppe ${attributliste.nameOderPid} (${attributliste.pid})</h1>
    <p>${attributliste.kurzinfo}</p>
    #if( !$attributliste.beschreibung.empty )
    <p>${attributliste.beschreibung}</p>
    #end
    <p>TODO Attribute</p>
</div>
</body>
</html>
