<!DOCTYPE html>
<html lang="de">
<head>
    <title>${konfigurationsbereich.nameOderPid}</title>
    <base href="../../">
    <meta charset="UTF-8">
    <meta name="date" content="2015-12-05"/>
    <meta name="keywords" content="Typen, Mengen, Attributgruppen, Attributlisten, Attribute, Datenkatalog, NERZ, ERZ, VRZ, UZ, Verkehrsrechnerzentrale, Unterzentrale">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style"/>
</head>
<body>
<div class="header">
    <a href="${konfigurationsbereich.zustaendiger.pid}/${konfigurationsbereich.pid}/konfigurationsbereich-ueberblick.html" target="objektFrame">${konfigurationsbereich.nameOderPid}</a>
</div>
<div class="content">
    <ul class="objekte">
        #foreach( $objekt in $konfigurationsbereich.alleObjekte )
        <li><a href="${objekt.bereich.zustaendiger.pid}/${objekt.bereich.pid}/${objekt.pid}.html" target="objektFrame">
            #if ( ${objekt.class.simpleName} == "Typ" )<em>#end
            ${objekt.nameOderPid}
            #if ( ${objekt.class.simpleName} == "Typ" )</em>#end
        </a></li>
        #end
    </ul>
</div>
</body>
</html>
