<!DOCTYPE html>
<html lang="de">
<head>
    <title>Menge ${mengentyp.nameOderPid}</title>
    <base href="../../">
    <meta charset="UTF-8">
    <meta name="date" content="2015-12-05"/>
    <meta name="keywords" content="Typen, Mengen, Attributgruppen, Attributlisten, Attribute, Datenkatalog, NERZ, ERZ, VRZ, UZ, Verkehrsrechnerzentrale, Unterzentrale">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style"/>
</head>
<body>
<script type="text/javascript">
    <!--
    try {
        if (location.href.indexOf('is-external=true') == -1) {
            parent.document.title = "${mengentyp.nameOderPid} (${projekt})";
        }
    }
    catch (err) {
    }
    //-->
</script>
<div class="header">
    <ul>
        <li><a href="ueberblick.html">Überblick</a></li>
        <li><a href="${mengentyp.konfigurationsBereich.zustaendiger.pid}/konfigurationsverantwortlicher-ueberblick.html">Konfigurationsverantwortlicher</a></li>
        <li><a href="${mengentyp.konfigurationsBereich.zustaendiger.pid}/${mengentyp.konfigurationsBereich.pid}/konfigurationsbereich-ueberblick.html">Konfigurationsbereich</a></li>
        <li class="active">Objekt</li>
    </ul>
</div>
<div class="subheader">
    <ul>
        <li><a href="index.html?${mengentyp.konfigurationsBereich.zustaendiger.pid}/${mengentyp.konfigurationsBereich.pid}/${mengentyp.pid}.html" target="_top">Mit Frames</a></li>
        <li><a href="${mengentyp.konfigurationsBereich.zustaendiger.pid}/${mengentyp.konfigurationsBereich.pid}/${mengentyp.pid}.html" target="_top">Ohne Frames</a></li>
    </ul>
</div>
<div class="content">
    <p>${mengentyp.konfigurationsBereich.zustaendiger.nameOderPid} / ${mengentyp.konfigurationsBereich.nameOderPid}</p>
    <h1>Menge ${mengentyp.nameOderPid} (${mengentyp.pid})</h1>
    <p>${mengentyp.kurzinfo}</p>
    #if( !$mengentyp.beschreibung.empty )
    <p>${mengentyp.beschreibung}</p>
    #end
    <p>TODO Konfigurationsdaten des Mengentyps</p>
    #if( !$mengentyp.typen.empty )
    <div class="ueberblick">
        <table border="0" cellpadding="0" cellspacing="0">
            <caption><span>Objekttypen</span></caption>
            <tbody>
            <tr>
                <th>Typ</th>
                <th>Beschreibung</th>
            </tr>
                #set( $row = 1 )
                #foreach( $typ in $mengentyp.objektTypen )
                <tr>
                    <td class="#if ($row % 2 == 0) rowColor #else altColor #end"><a href="${typ.konfigurationsBereich.zustaendiger.pid}/${typ.konfigurationsBereich.pid}/${typ.pid}.html">${typ.name}</a></td>
                    <td class="#if ($row % 2 == 0) rowColor #else altColor #end block">${typ.kurzinfo}</td>
                </tr>
                    #set( $row = $row + 1 )
                #end
            </tbody>
        </table>
    </div>
</div>
#end
</body>
</html>
