<!DOCTYPE html>
<html lang="de">
<head>
    <title>Typ ${typ.nameOderPid}</title>
    <base href="../../">
    <meta charset="UTF-8">
    <meta name="date" content="2015-12-05"/>
    <meta name="keywords" content="Typen, Mengen, Attributgruppen, Attributlisten, Attribute, Datenkatalog, NERZ, ERZ, VRZ, UZ, Verkehrsrechnerzentrale, Unterzentrale">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style"/>
</head>
<body>
<script type="text/javascript">
    <!--
    try {
        if (location.href.indexOf('is-external=true') == -1) {
            parent.document.title = "${typ.nameOderPid} (${projekt})";
        }
    }
    catch (err) {
    }
    //-->
</script>
<div class="header">
    <ul>
        <li><a href="ueberblick.html">Überblick</a></li>
        <li><a href="${typ.konfigurationsbereich.zustaendiger.pid}/konfigurationsverantwortlicher-ueberblick.html">Konfigurationsverantwortlicher</a></li>
        <li><a href="${typ.konfigurationsbereich.zustaendiger.pid}/${typ.konfigurationsbereich.pid}/konfigurationsbereich-ueberblick.html">Konfigurationsbereich</a></li>
        <li class="active">Objekt</li>
    </ul>
</div>
<div class="subheader">
    <ul>
        <li><a href="index.html?${typ.konfigurationsbereich.zustaendiger.pid}/${typ.konfigurationsbereich.pid}/${typ.pid}.html" target="_top">Mit Frames</a></li>
        <li><a href="${typ.konfigurationsbereich.zustaendiger.pid}/${typ.konfigurationsbereich.pid}/${typ.pid}.html" target="_top">Ohne Frames</a></li>
    </ul>
</div>
<div class="content">
    <p>${typ.konfigurationsbereich.zustaendiger.nameOderPid} / ${typ.konfigurationsbereich.nameOderPid}</p>
    <h1>Typ ${typ.nameOderPid} (${typ.pid})</h1>
    <p><strong>Alle direkten Supertypen</strong></p>
    #if( !$typ.superTypen.empty )
    <p>
    #foreach( $superTyp in $typ.superTypen )
    <a href="${superTyp.konfigurationsbereich.zustaendiger.pid}/${superTyp.konfigurationsbereich.pid}/${superTyp.pid}.html" target="objektFrame">${superTyp.nameOderPid}</a>#if( $velocityHasNext ), #end
    #end
    </p>
    #end
    #if( !$typ.subTypen.empty )
    <p><strong>Bekannte direkte Subtypen</strong></p>
    <p>
    #foreach( $subTyp in $typ.subTypen )
        <a href="${subTyp.konfigurationsbereich.zustaendiger.pid}/${subTyp.konfigurationsbereich.pid}/${subTyp.pid}.html" target="objektFrame">${subTyp.nameOderPid}</a>#if( $velocityHasNext ), #end
    #end
    #end
    </p>
    <p>${typ.kurzinfo}</p>
    #if( !$typ.beschreibung.empty )
    <p>${typ.beschreibung}</p>
    #end
    #if( !$typ.mengen.empty )
    <div class="ueberblick">
        <table border="0" cellpadding="0" cellspacing="0">
            <caption><span>Mengen</span></caption>
            <tbody>
            <tr>
                <th>Menge</th>
                <th>Erforderlich</th>
                <th>Beschreibung</th>
            </tr>
                #set( $row = 1 )
                #foreach( $mengenverwendung in $typ.mengen )
                <tr>
                    <td class="colFirst #if ($row % 2 == 0) rowColor #else altColor #end"><a href="${mengenverwendung.mengentyp.konfigurationsbereich.zustaendiger.pid}/${mengenverwendung.mengentyp.konfigurationsbereich.pid}/${mengenverwendung.mengentyp.pid}.html">${mengenverwendung.mengenname}</a></td>
                    <td class="#if ($row % 2 == 0) rowColor #else altColor #end">
                        #if( ${mengenverwendung.erforderlich} )
                            ja
                        #else
                            nein
                        #end
                    </td>
                    <td class="#if ($row % 2 == 0) rowColor #else altColor #end block">${mengenverwendung.mengentyp.kurzinfo}</td>
                </tr>
                    #set( $row = $row + 1 )
                #end
            </tbody>
        </table>
    </div>
    #end
    #if( !$typ.attributgruppen.empty )
        <div class="ueberblick">
            <table border="0" cellpadding="0" cellspacing="0">
                <caption><span>Attributgruppen</span></caption>
                <tbody>
                <tr>
                    <th>Attributgruppe</th>
                    <th>Beschreibung</th>
                </tr>
                    #set( $row = 1 )
                    #foreach( $attributgruppe in $typ.attributgruppen )
                    <tr>
                        <td class="colFirst #if ($row % 2 == 0) rowColor #else altColor #end"><a href="${attributgruppe.konfigurationsbereich.zustaendiger.pid}/${attributgruppe.konfigurationsbereich.pid}/${attributgruppe.pid}.html">${attributgruppe.nameOderPid}</a></td>
                        <td class="#if ($row % 2 == 0) rowColor #else altColor #end block">${attributgruppe.kurzinfo}</td>
                    </tr>
                        #set( $row = $row + 1 )
                    #end
                </tbody>
            </table>
        </div>
    #end
</div>
</body>
</html>
