<!DOCTYPE html>
<html lang="de">
<head>
    <title>Überblick - ${projekt}</title>
    <meta charset="UTF-8">
    <meta name="date" content="2015-12-05"/>
    <meta name="keywords" content="Überblick, Datenkatalog, NERZ, ERZ, VRZ, UZ, Verkehrsrechnerzentrale, Unterzentrale">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" title="Style"/>
</head>
<body>
<script type="text/javascript">
    <!--
    try {
        if (location.href.indexOf('is-external=true') == -1) {
            parent.document.title = "Überblick (${projekt})";
        }
    }
    catch (err) {
    }
    //-->
</script>
<div class="header">
    <ul>
        <li class="active">Überblick</li>
        <li>Konfigurationsbereich</li>
        <li>Objekt</li>
    </ul>
</div>
<div class="content">
    <h1>Überblick - ${projekt}</h1>
    <div class="ueberblick">
        <table border="0" cellpadding="0" cellspacing="0">
            <caption><span>Konfigurationsbereiche</span></caption>
            <tbody>
            <tr>
                <th>Konfigurationsbereich</th>
                <th>Beschreibung</th>
            </tr>
            #set( $row = 1 )
            #foreach( $konfigurationsbereich in $konfigurationsbereiche )
            <tr>
                <td class="colFirst #if ($row % 2 == 0) rowColor #else altColor #end"><a href="${konfigurationsbereich.getZustaendiger().getPid()}/${konfigurationsbereich.getPid()}/konfigurationsbereich-ueberblick.html" target="objektFrame">$konfigurationsbereich.getNameOderPid()</a></td>
                <td class="#if ($row % 2 == 0) rowColor #else altColor #end block">$konfigurationsbereich.getKurzinfo()</td>
            </tr>
            #set( $row = $row + 1 )
            #end
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
